<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/header.ejs') %>
    <img class="logo_reg" src="/images/logo_libreria.png" alt="Logo Empresa" />
    <form class="form_log" action="/users/login" method="POST" id="form">
      <h2 style="display: block">Accedé a tu cuenta</h2>
      <div class="users">
        <label for="email">Ingresar Email</label>
        <input
          type="text"
          name="email"
          id="email"
          class="<%= locals.errors?.email ? 'input-error' : null %>"
          value="<%= locals.old ? old.email : null %>" />
        <% if (locals.errors?.email) { %>
        <p class="error-message"><%= errors.email.msg %></p>
        <% } %>
      </div>
      <div class="pass">
        <label for="password">Ingresar Contraseña</label>
        <input
          type="password"
          name="password"
          id="password"
          class="<%= locals.errors && errors.password ? 'input-error' : null %>"
          value="<%= locals.old ? old.password : null %>" />
        <% if (locals.errors && errors.password) { %>
        <p class="error-message"><%= errors.password.msg %></p>
        <% } %>

        <label for="remember_me">
          Recordar usuario
          <input type="checkbox" name="remember_me" id="remember_me" />
        </label>
      </div>
      <div class="botones">
        <input class="input" type="submit" value="Ingresar" / > <input
        class="input" type="reset" value="Borrar Datos" / >
      </div>
    </form>
    <%- include('partials/footer.ejs') %>
    <script type="text/javascript" src="/utils/validatorLogin.js"></script>
  </body>
</html>
