<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/header.ejs') %>

    <h1 class="user-profile-title">User Profile</h1>

    <div class="perfil">
      <% if (user.avatar ) { %>
      <img src="/images/users/<%= user.avatar %>" alt="Imagen de usuario" />
      <% } else { %>
      <img
        src="/images/users/default-avatar.jpg"
        alt="Imagen de usuario por defecto" />
      <% } %>
      <div class="informacion">
        <h2><%= user.name %> <%= user.surname %></h2>
        <p><%= user.email %></p>
      </div>
    </div>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
